/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.03.2016, 9:54:42
    Author     : artem
*/
*
{
    margin: 0px;
    padding: 0px;
    transition: all 700ms ease;
/*    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    -ms-transition: all 500ms;*/

}
html, body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    height: 100%;
    color: #333;
}
a {
    color: #4C2900;
    text-decoration: none;
}
.main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -100px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
}
.art-main,
.header-content,
.hormenu-items
{
    width: 1000px;    
    margin: auto;
    position: relative;
}
.header
{
    height: 150px;
    background: url('image/Bottom_texture.jpg') repeat gray;
}
.logo
{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.logo img
{
    width: 100%;
    border-radius: 50%;
    border: 3px solid #FF8A00;
}
.header-phone
{
    position: absolute;
    top: 30px;
    right: 20px;
}
.header-phone p
{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #FF8A00;
}
.header-link
{
    position: absolute;
    right: 10px;
    top: 85px;
}
.header-link a
{
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 32px;
    border: 1px solid #FFA438;
    background-color: #FF8A00;
    padding: 0px 12px;
    margin: 5px;
    text-transform: uppercase;
    color: #fff;
}
.header-link a:hover
{
    background-color: #A95B00;    
}
.name-site {
    position: absolute;
    top: 30px;
    left: 240px;
    text-align: center;
}
.name-site h1 {
    color: #FF8A00;
}
/*BEGIN горизоантальное меню*/
.horizont-menu {
    border-top: 1px solid #FFB660;
    background-color: #FF8A00;
    text-align: right;
}
.horizont-menu ul {
    
}
.horizont-menu ul li {
    display: inline-block;
    vertical-align: middle;

}
.horizont-menu ul li a {
    display: block;
    text-transform: uppercase;
    padding: 0px 7px;
    height: 33px;
    line-height: 34px;
}
.horizont-menu ul li:hover a {
    background-color: #A95B00;
    color: #fff;
}
/*END горизоантальное меню*/
.sidebar-left {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
.sidebar-left .block
{
    border: 1px solid #cccccc;
    margin: 5px;
}
.sidebar-left .block h3
{
    display: block;
    width: 100%;
    padding: 5px 0px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    background-color: #2E2E2E;
    color: #fff;
}
.sidebar-left .block .block-content
{
    padding: 5px;
}

.art-main .content {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    width: 780px;
}
.art-main .content p {
    padding: 7px 0px;
    text-align: justify;
}

/*BEGIN footer*/
.footer-clean, .footer {
    height: 99px;
    margin: 0px;
    padding: 0px;
}
.footer
{
    background: url('image/Bottom_texture.jpg') repeat gray;
    border-top: 1px solid #000;
}
/*END footer*/


div.parent-center
{
    display: flex;
    height: 150px;
    background: grey;
    border: 1px solid #999999;
}

div.child-center
{
    margin: auto;
    border: 1px solid #000000;
    width: 150px;
}
